@import url(reset.css);

body{
	font-family: "Showcard gothic";
	letter-spacing: 1px;
}

.contenedor{
	width: 1000px;
	height: 900px;
	background-color:#635d5d;
	margin: 20px auto;
}


/*
	Header como tabla
 */
header{
	width: 790px;
	height: 90px;
	margin: 0px auto;
	color: white;
	position: relative;
	top: 20px;
	display: table;
}

hgroup{
	display: table-row;
}

header h1,
header h3{
	display: table-cell;
	text-align: center;
	vertical-align: middle
}

header h1{
	font-size: 22px;
}

header h3{
	font-size: .8em;
}

/*
	Estilos comunes a varios elementos
 */
header,
section>nav,
section>aside{
	border:5px solid #565252;
}


header,
nav,
section,
aside{
	background-color: #938686;
}



/*
	Cuerpo del html a 3 columnas
 */

section>nav,
section>section,
section>aside{
	float: left;
	height: 800px;
}

section>nav,
section>aside{
	width: 190px;
}

section>section{
	width: 600px;
	height: 810px;
}

section h2{
	color: #565d5d;
	font-size: 20px;
	text-align: center;
}

/*
	Columna izq con menú vertical
 */

section>nav h2{
	margin-top: 60px;
}

section>nav ul{
	margin: 20px auto;
	width: 90%;
}

section>nav li{
	list-style: none;
	height: 50px;
	background-color:#635d5d;
	margin-bottom: 20px;
}

section>nav a{
	border-left: 20px solid white;
	padding-left: 20px;
	line-height: 50px;
	font-size: 12px;
}

section>nav a:hover{
	border-left: 20px solid black;
	color:black;
}

/*
	Enlaces
 */
section a{
	display: block;
	text-decoration: none;
	color: white;
}

/*
	Columna central
 */

section .menu{
	display: table;
	margin: 40px auto;
	background-color: #635d5d;
	border-top: 1px solid white;
	border-left: 1px solid white;
}

.menu>ul{
	display: table-row;
	height: 30px;
}

.menu li{
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	
}

.menu a{
	font-family: sans-serif;
	font-size: 14px;
	line-height: 30px;
	letter-spacing: 0px;
	padding: 5px;
}

.menu a:hover{
	background-color: white;
	color:black;
	outline: 1px solid grey;
}

.menu + h2{
	margin-top: 200px;
}



/*
	Columna de la derecha
 */

section>aside h2{
	margin-top: 275px;
    line-height: 25px;
}


