@import url(reset.css);

html {
    background-image: url(../imgs/fondo.gif);
}




/* contenedor de la web */

.contenedor {
    width: 1000px;
    border: 2px solid #ccc;
    min-height: 500px;
    background-color: white;
    margin: 20px auto;
    font-family: sans-serif;
}




/*
	Cabecera
 */

header {
    background-image: url(../imgs/cabecera.jpg);
    height: 148px;
    background-repeat: no-repeat;
    background-size: cover;
}




/*
Borde 
 */

header,
nav {
    border-bottom: 2px solid #ccc;
}




/*
	Menú principal superior
 */

.contenedor>nav {
    background-image: url(../imgs/fondonav.gif);
    height: 28px;
}

.contenedor nav li {
    display: inline;
    height: 28px;
}

.contenedor header+nav li {
    margin-left: 10px;
}



/*
	Enlaces
 */

.contenedor header+nav a {
    text-decoration: none;
    color: darkblue;
    line-height: 28px;
    font-size: 15px;
    padding-right: 10px;
    border-right: 1px solid darkblue;
}

.contenedor nav li:last-child a {
    border-right: none;
}




/*
	Cuerpo a 2 columnas
 */

section>div,
section>aside {
    float: left;
}

section,
section>div
{
    height: 550px;
}



/*
	Columna izquierda
 */

section>div {
    width: 660px;
    padding: 20px;
}

section article>h1 {
    font-size: 22px;
    font-weight: bold;
}

section article>p {
    padding-top: 20px;
    line-height: 20px;
}

article+nav {
    border-bottom: none;
    margin-top: 20px;
}

article+nav li {
    border-right: 1px solid green;
}

section>div>article+nav li:last-child {
    border-right: none;
}

article+nav a {
    color: green;
    font-weight: bold;
    text-decoration: none;
    margin-right: 10px;
}

article+nav a.izq {
    padding-left: 10px;
}



/*
	Columna derecha
 */

section>aside {
    width: 298px;
    border-left: 2px solid #ccc;
    background-color: rgb(204, 220, 255);
    height: 415px;
    border-bottom: 2px solid #ccc;
}


aside h2 {
    font-size: 16px;
    color: white;
    background-color: darkblue;
    padding: 10px;
}

aside p {
    padding-left: 10px;
}

aside>div:first-child p+p {
    line-height: 20px;
    margin-bottom: 10px
}

input[type='text'] {
    margin-top: 10px;
    margin-bottom: 10px;
}

aside img {
    position: relative;
    top: 3px;
}

aside>div:nth-child(2) p {
    padding: 20px;
    line-height: 20px;
}

aside>div ul {
    list-style-image: url(../imgs/bullet.gif);
    padding-left: 40px;
    line-height: 30px;
    margin-top: 10px;
}