@import url(reset.css);

html{
	background-color: #ccc;
}

.contenedor {
    width: 1000px;
    margin: 0px auto;
}

h1,
.negrita,
figure+p {
    font-weight: bold;
}

ol>li {
    list-style: upper-latin;
    margin-bottom: 20px;
    text-align: justify;
}

h1 {
    font-size: 25px;
    margin: 20px auto;
    width: 400px;
    text-align: center;
}

.titulo,
ol {
    border-bottom: 2px solid grey;
    padding-bottom: 20px;
}

ol+p {
    text-align: center;
    font-style: italic;
    margin-top: 10px;
}

figure,
figure+p {
    text-align: center;
}

figure+p {
    font-family: 'Courier New';
    font-size: 28px;
    color: blue;
    font-style: italic;
}

a{
	text-decoration: none;
	color:black;
}

img{
	width: 690px;
}