@import url(reset.css);
/* contenedor de la web */

.contenedor {
	width: 800px;
	border-left: 2px solid black;
	border-right: 2px solid black;
	min-height: 500px;
	margin: 20px auto;
	font-family: sans-serif;
}
/*
	Cabecera
 */

header {
	background-image: url(../imgs/cabecera.jpg);
	height: 420px;
	background-repeat: no-repeat;
	background-size: cover;
}
/*
	Menú principal superior
 */

.contenedor>nav {
	background-image: url(../imgs/barranav.jpg);
	height: 30px;
	background-size: cover;
}
.contenedor nav li {
	display: inline;
	height: 28px;
}
.contenedor header+nav li {
	margin-left: 10px;
}
/*
	Enlaces
 */

.contenedor header+nav a {
	text-decoration: none;
	color: white;
	line-height: 28px;
	font-size: 15px;
	padding-right: 10px;
	border-right: 1px solid white;
	word-spacing: 20px;
}
.contenedor nav li:last-child a {
	border-right: none;
}
/*
	Cuerpo a 2 columnas
 */

section>div, section>aside {
	float: left;
}
section {
	height: 700px;
}
/*
	Columna derecha
 */

section>div {
	width: 510px;
	padding: 20px;
	background-image:url(../imgs/decora.jpg);
	background-repeat:no-repeat;
	background-position:bottom right;
	height:660px;
}
section>div:hover{
	background-image:url(../imgs/decora_trans.jpg);
	background-repeat:no-repeat;
	background-position:bottom right;
	}

section article>h1 {
	font-size: 22px;
	font-weight: bold;
}
section article>p {
	padding-top: 20px;
	line-height: 20px;
}
article+nav {
	border-bottom: none;
	margin-top: 20px;
}
article+nav li {
	border-right: 1px solid green;
}
section>div>article+nav li:last-child {
	border-right: none;
}
article+nav a {
	color: green;
	font-weight: bold;
	text-decoration: none;
	margin-right: 10px;
}
article+nav a.izq {
	padding-left: 10px;
}
/*
	Columna izquierda
 */

section>aside {
	width: 250px;
	height: 415px;
}

section>aside>div{
	background-image:url(../imgs/fondo.gif);
	margin-top:20px;
	}
aside h2 {
	font-size: 16px;
    color: white;
    background-image: url(../imgs/titlat.jpg);
    padding: 12px;
    background-size: cover;
    background-position: bottom;
}

aside h2:hover{
	background-image: url(../imgs/titlat4.jpg);
	background-size: cover;
    background-position: bottom;
	}
aside>div:first-child,
aside>div:last-child{
	height:150px;
	}

aside p {
	padding-left: 10px;
}
aside>div:first-child p+p {
	line-height: 10px;
	margin-bottom: 10px
}
input[type='text'] {
	margin-top: 10px;
	margin-bottom: 10px;
}
aside img {
	position: relative;
	top: 3px;
}
aside>div:nth-child(2) p {
	padding: 20px;
	line-height: 20px;
}
aside>div ul {
	list-style: none;
	padding-left: 40px;
	line-height: 25px;
	margin-top: 10px;
}

aside>div ul li:before{
	content:'♦ ';
}