@import url(reset.css);

.contenedor{
	width: 980px;
	height: 1374px;
	margin: 0px auto;
	padding-top: 20px;
}

.cabecera{
	width: 646px;
	height: 75px;
	text-align: center;
	font-size: 75px;
	margin: 0px auto;

}

.fotos{
	width: 980px;
	margin-top: 20px;
}

.col1, .col2, .col3, .col4{
	width: 180px;
	height: 210px;
	float: left;
	margin-left: 20px;
	text-align: center;
	padding: 20px;
}

.fotos p{
	line-height: 1.2em;
}

.fotos .foto{
	margin: 20px;
}