@import url(reset.css);

.contenedor{
	width: 1000px;
	margin: 20px auto;
}

/*
	Menú superior horizontal
 */
.contenedor>nav{
	border-top: 3px solid #C14605;
	border-bottom: 3px solid #C14605;
	height: 44px;
	
}

.contenedor>nav>div{
	display: table;
    border-collapse: separate;
    border-spacing: 20px 0px;
    margin-top: 8px;
    margin-left: 400px;

}

.contenedor>nav div ul{
	display: table-row;
	height: 30px;
	
}

.contenedor>nav li{
	display: table-cell;
    list-style: none;
    width: 120px;
    border: 2px solid orange;
    border-radius: 20px;
    vertical-align: middle;
    text-align: center;
    height: 20px;

}

.contenedor>nav a{
	display: block;
    text-decoration: none;
    color: black;
    text-align: center;
    line-height: 20px;
}

/*
	Cuerpo a 2 columnas
 */

.cuerpo{
	border-bottom: 3px solid #C14605;
	padding: 10px;
}

.cuerpo>div{
	float:left;
	
}

.cuerpo,
.cuerpo>div{
	height: 400px;
}

/*
	Columna izquierda
 */

.cuerpo .modal{
	width: 145px;
	border-right: 5px solid #C14605;
}

.modal>div{
	display: none;
}

.modal>div:target{
	display:block;

}

.modal>div:target h2,
.modal>div:target li
{
	margin: 0px auto;
}

.modal>div:target h2,
.modal>div:target li{
	width: 120px;
    border: 2px solid orange;
    border-radius: 20px;
    vertical-align: middle;
    text-align: center;
    height: 20px;
    margin-top: 10px;
}

.modal>div:target li{
	list-style: none;
    
}

.modal>div:target a{
	display: block;
	height: 100%;
	text-decoration: none;
	color: black;
    
}

.modal>div:target hr{
	border-color: #C14605;
    border-width: 2px;
    border-style: solid;
    width: 60px;
    margin: 10px auto;
}

.modal>div:target hr:first-of-type{
	width: 100px;
}

.modal>div:target hr ~ hr{
	
    width: 60px;
    
}

/*
	Columna derecha
 */

.cuerpo .galeria{
	width: 800px;
	margin-left: 20px;
	background-image: url(../imgs/panes.png);
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}