@import url(reset.css);

.contenedor{
	display: table;
	margin: 20px auto;
	border-spacing: 20px;
}

.contenedor>div{
	display: table-row;
	height: 200px;
}

.contenedor>div>div{
	display: table-cell;
	width: 200px;
 }