@import url(reset.css);

.contenedor{
	width: 525px;
	margin:20px auto;
}

ul{
	background-color: black;
	padding-top: 10px;
	height: 60px;
}


li{
	float: left;
	list-style: none;
	width: 100px;
	height: 60px;
	margin-left: 25px;

}

a{
	display: block;
	text-decoration: none;
	color:white;
	line-height: 55px;
	text-align: center;
	border-top: 5px solid white;
}

a:hover{
	border-top: 2px solid white;
	font-weight: bold;
	line-height: 58px;
}