@import url(reset.css);

html{
	background-color: silver;
}

.contenedor{
	width: 920px;
	height: 176px;
	background-color:#ccc;
	padding: 20px;
	margin: 0px auto;
}

.header,
.content,
.footer{
	width: 900px;
	
}

.header{
	height: 24px;
	border-bottom: 2px ridge silver;
}

.header,
.footer{
	font-weight: bold;
	font-size: 20px;
}

.content{
	height: 93px;
	text-align: justify;
    line-height: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    }

.footer{
	height: 23px;
	text-align: center;
	border-top: 2px ridge silver;
}