body{
	margin:0px;
	background-color: #cccccc;
}

h3{
	margin:0px;
}

#contenedor{
	width: 900px;
	height: auto;
	background-color:#eeeeee;
	padding: 10px;
	margin: 0px auto;
}

.header,
.content,
.footer{
	width: 900px;
	
}

.header{
	border-bottom: 1px solid #bbbbbb;
}



.content{
	border-bottom: 1px solid #bbbbbb;
    }

.footer{
	
	text-align: center;
	
}