@import url(reset.css);

html{
	background-color: silver;
}

.wrapper{
	height: 176px;
	background-color:#ccc;
	padding: 20px;
	margin: 0px auto;
}

.wrapper,
.header,
.footer{
	width: 900px;
}

.header{
	height: 24px;
	border-bottom: 2px ridge silver;
	font-size: 30px;
	padding: 5px;
}

.header,
.footer{
	font-weight: bold;
	
}

.columnas{
	width: 840px;
	margin:0px auto;
	height: 110px;
}

.col01,
.col02{
	float: left;
	width: 400px;
	height: 93px;
	text-align: justify;
    line-height: 20px;
    padding: 10px;
}


.footer{
	height: 23px;
	border-top: 2px ridge silver;
	font-size: 20px;
}