.contenedor{
	display: table;
	margin: 0px auto;
	border-collapse: separate;
	border-spacing:50px 20px;
}

.contenedor>div{
	display: table-row;
}

.contenedor>div>div{
	display: table-cell;
	width: 100px;
	height: 100px;
	background-color: orange;
}

/*
	Colocar una imagen a celdas impares de cada fila
 */
.contenedor>div>div:nth-child(odd){
	background-image: url(../imgs/oruga.jpg);
	background-size: cover;
}