.contenido{
	margin: 0px auto;
	width: 560px;
	height: 280px;
}

/* Cajas */
.foto{
	float:left;
	width: 100px;
	height: 100px;
	background-color: orange;
	margin:20px;
}

/*
	Colocar una imagen a cajas con clase .foto1
 */
.foto1{
	background-image: url(../imgs/oruga.jpg);
	background-size: cover;
}