@import url(reset.css);

.contenedor{
	width: 1000px;
	height: 1000px;
	margin:0px auto;
}

.menu,
.centro{
	float: left;
	height: 1000px;
}

.menu{
	width: 300px;
	background-color: grey;
}



.centro{
	width: 400px;
}

.titulo,
.pie{
	height: 50px;
}

.titulo{
	background-color: #ccc;
}

.contenido{
	height: 900px;
}

.pie{
	background-color: #232221;
	
}

