@import url(reset.css);

.contenedor{
	margin: 20px auto;
    height: 400px;
    background-color: #c3baba;
    padding: 20px;
}

h1{
	text-align: center;
    font-size: 45px;
    font-weight: bold;
    font-family: sans-serif;
    margin-bottom: 100px;
}

.contenedor,
.contenedor>div{
	width: 700px;
}

.contenedor>div,
.contenedor>div>div{
	height: 250px;

}

/*
	Cajas
 */
.contenedor>div>div{
	float: left;
	width: 200px;
	height: 150px;
	border-radius: 25px;
	margin-left: 100px;
}


/*
	Caja izquierda
 */
.contenedor>div>div:first-child{
	background-image: url(../imgs/textura.jpg);
	background-size: contain;
	/* borde superior izquierda, borde inferior derecha */
	-webkit-box-shadow: -20px -20px 10px 0px red,  20px 20px 10px 0px green;
	-moz-box-shadow: -20px -20px 10px 0px red, 20px 20px 10px 0px green;
	box-shadow: -20px -20px 10px 0px red, 20px 20px 10px 0px green;
}

/*
	Caja derecha
 */
.contenedor>div>div:last-child{
	background-image: url(../imgs/textura1.jpg);
	/* borde superior derecha, borde inferior izquierda */
	-webkit-box-shadow: 20px -20px 5px 0px red,  -20px 20px 5px 0px green;
	-moz-box-shadow: 20px -20px 5px 0px red,  -20px 20px 5px 0px green;
	box-shadow: 20px -20px 5px 0px red,  -20px 20px 5px 0px green;
}

.contenedor>div>div:last-child:hover{
	background-image: url(../imgs/textura1.jpg);
	/* borde superior derecha, borde inferior izquierda */
	-webkit-box-shadow: 20px -20px 5px 0px green,  -20px 20px 5px 0px red ;
	-moz-box-shadow: 20px -20px 5px 0px green,  -20px 20px 5px 0px red;
	box-shadow: 20px -20px 5px 0px green,  -20px 20px 5px 0px red;
}
