@import url(reset.css);

.contenedor{
	width: 600px;
	margin:50px auto;
}

.contenedor li{
	float: left;
}

ul,
li{
	height: 64px;
}

li{
	
	width: 110px;
	margin-left: 20px;
	
}


li a{
	display: block;
	border:2px solid darkblue;
	height: 100%;
	border-radius: 15px;
	text-decoration: none;
	color: white;
	font-size: 20px;
	text-align: center;
	line-height: 60px;
	background: -webkit-linear-gradient(left, color-stop(30%,white), blue); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, white, blue); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, white, blue); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, white , blue); /* Standard syntax (must be last) */
}

li a:hover{
	width: 120px;
	height: 70px;
	line-height: 70px;
	font-weight: bold;
	font-style: italic;
	font-size: 26px;
	background: -webkit-linear-gradient(right, white , blue); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(left, white, blue); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(left, white, blue); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to left, white , blue); /* Standard syntax (must be last) */
}