@import url(reset.css);

.contenedor{
	margin: 20px auto;
    height: 400px;
    background-color: #c3baba;
    padding: 20px;
}

h1{
	text-align: center;
    font-size: 45px;
    font-weight: bold;
    font-family: sans-serif;
    margin-bottom: 100px;
}

.contenedor,
.contenedor>div{
	width: 700px;
}

.contenedor>div,
.contenedor>div>div{
	height: 250px;

}

/*
	Cajas
 */
.contenedor>div>div{
	float: left;
	width: 200px;
	height: 150px;
	margin-left: 100px;
}


/*
	Caja izquierda
 */
.contenedor>div>div:first-child{
	border-radius:50px;
	background-image: url(../imgs/textura1.jpg);
	/* sombreado superior derecha verde, sin desenfoque y opacidad 50% */
	-webkit-box-shadow: 20px -20px 0px 0px rgba(0,255,0,0.5);
	-moz-box-shadow: 20px -20px 0px 0px rgba(0,255,0,0.5);
	box-shadow: 20px -20px 0px 0px rgba(0,255,0,0.5);
}

/*
	Caja derecha
 */
.contenedor>div>div:last-child{
	border-radius:30px;
	background-image: url(../imgs/playaa.jpg);
	/* sombreado inferior izquierda azul, sin desenfoque y opaco al 40% */
	-webkit-box-shadow: -20px 20px 0px 0px rgba(0,0,255,0.4);
	-moz-box-shadow: -20px 20px 0px 0px rgba(0,0,255,0.4);
	box-shadow: -20px 20px 0px 0px rgba(0,0,255,0.4);
}

/*
	:hover
 */
.contenedor>div>div:first-child:hover{
	-webkit-box-shadow: 20px -20px 0px 0px rgba(0,255,0,1);
	-moz-box-shadow: 20px -20px 0px 0px rgba(0,255,0,1);
	box-shadow: 20px -20px 0px 0px rgba(0,255,0,1);
}

.contenedor>div>div:last-child:hover{
	-webkit-box-shadow: -20px 20px 0px 0px rgba(0,0,255,1);
	-moz-box-shadow: -20px 20px 0px 0px rgba(0,0,255,1);
	box-shadow: -20px 20px 0px 0px rgba(0,0,255,1);
}
