@import url(reset.css);

html{
	background-color: #ccc;
}

.contenedor{
	width: 600px;
	margin:50px auto;
}

.contenedor>div{
	height: 300px;
	width: 600px;
}

/*
	Cajas
 */
.contenedor>div>div{
	float: left;
	width: 200px;
	height: 150px;
	border-radius: 20px;
	margin-left: 100px;
}

/*
Fila 1
 */

/*
	Caja izquierda
 */
.contenedor>div:first-child>div:first-child{
	background-color:green;
	-webkit-box-shadow: 20px -20px 0px 0px yellow;
	-moz-box-shadow: 20px -20px 0px 0px yellow;
	box-shadow: 20px -20px 0px 0px yellow;
}

/*
	Caja derecha
 */
.contenedor>div:first-child>div:last-child{
	background-color:blue;
	-webkit-box-shadow: -30px 30px 10px 0px purple;
	-moz-box-shadow: -30px 30px 10px 0px purple;
	box-shadow: -30px 30px 10px 0px purple;
}

/*
	Fila 2
 */
/*
	Caja izq
 */
.contenedor>div:last-child>div:first-child{
	background-color:brown;
	-webkit-box-shadow: -20px -20px 10px 0px orange;
	-moz-box-shadow: -20px -20px 10px 0px orange;
	box-shadow: -20px -20px 10px 0px orange;
}

.contenedor>div:last-child>div:first-child:hover{
	background-color:brown;
	-webkit-box-shadow: 20px -20px 10px 0px red;
	-moz-box-shadow: 20px -20px 10px 0px red;
	box-shadow: 20px -20px 10px 0px red;
}


/*
	Caja dcha
 */
.contenedor>div:last-child>div:last-child{
	background-color:black;
	-webkit-box-shadow: -30px -30px 0px 0px blue;
	-moz-box-shadow: -30px -30px 0px 0px blue;
	box-shadow: -30px -30px 0px 0px blue;
}

.contenedor>div:last-child>div:last-child:hover{
	background-color:blue;
	-webkit-box-shadow: -30px -30px 0px 0px black;
	-moz-box-shadow: -30px -30px 0px 0px black;
	box-shadow: -30px -30px 0px 0px black;
}
