@import url(reset.css);

html{
	background-color: #ccc;
}

.contenedor{
	width: 800px;
	margin: 0px auto;
	font-family: sans-serif;
}

.contenedor>div{
	background-color: white;
}


/* CABECERA */
.cabecera{
	width: 800px;
	height: 260px;
}

.cabecera>div:first-child{
	height: 180px;
}

/* Cajas que engloban título e iconos de redes*/
.cabecera>div:first-child>div{
	width: 200px;
	height: 150px;
}

/* Título de la web */
.cabecera>div:first-child>div:first-child{
	float:left;
	margin-left: 20px;
	margin-top: 20px;
	width: 210px;
	height: 140px;
	
}

h1{
	font-size: 40px;
	font-weight: bold;
}

.cabecera p{
	font-style: italic;
}

/* Iconos de redes */
.cabecera>div:first-child>div:last-child{
	float:right;
	padding-top: 50px;
	width: 250px;
	height: 50px;
}

.cabecera img{
	width: 25px;
}

.redes img:last-of-type{
	margin-left: 20px;
}

.redes a{
	text-decoration: none;
	color: black;
}


/* Menú */
.menu{
	height: 50px;
	width: 760px;
	background-color: #92bbde;
	margin:5px auto;
}
.menu ul{
	width: 630px;
	margin:0px auto;
}

.menu li{
	display: inline-block;
	width: 100px;
	text-align: center;
}

.menu a{
	display: block;
	text-decoration: none;
	color: black;
	line-height: 50px;
}

/* Cuerpo  -----------------------------------------------------------------------------*/
.cuerpo{
	width: 800px;
	height: 800px;
}

.cuerpo>div:first-child{
	width: 760px;
    height: 300px;
    margin: 0px auto;
    background-color: #C8C4C1;
    background-image: url(../imgs/negocios.jpg);
    background-position: -70px top;
    background-repeat: no-repeat;
    background-size: cover;
}

/* cajita sobre foto */
.caja{
	height: 200px;
	width: 300px;
	background-color: rgba(255,255,255,0.2);
	position: relative;
    top: 40px;
    left: 400px;
    border-radius: 20px;
    padding: 20px;
}
p{
	font-size: 14px;
	line-height: 20px;
	text-align: justify;
}

h2{
	font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
}

.caja p+p{
    background-color: black;
    width: 80px;
    line-height: 30px;
    border-radius: 5px;
    text-align: center;
    margin-top: 20px;
}

.caja a{
	display: block;
    color: white;
    text-decoration: none;
}



/* Columnas del cuerpo */
.columnas>div{
	float: left;
	width: 360px;
	height: 460px;
	padding: 20px;
}

.columnas p+h2{
	margin-top:20px;
}

.columnas .foto{
	width: 360px;
    height: 130px;
    background-image: url(../imgs/negocios.jpg);
    background-position: -70px -34px;
}

/* Pie ---------------------------------------------------------------------------------*/
.contenedor>div:last-child{
	height: 50px;
	text-align: center;
	font-size: small;
	margin-top: 20px;
	line-height: 50px;
}