@import url(reset.css);

.contenedor {
    width: 1000px;
    min-height: 600px;
    margin: 20px auto;
    background-image: url(../imgs/fondo.png);
    background-repeat: repeat-x;
    color: #d97300;
    font-family: sans-serif;
}

header {
    height: 200px;
}

header>div {
    height: 100px;
}

header .logo {
    float: left;
    width: 300px;
    background-image: url(../imgs/logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 50px;
    margin-top: 50px;
}


/* dirección */

header>div:last-child {
    float: right;
    width: 200px;
    margin-top: 84px;
    margin-right: 50px;
    text-align: right;
    line-height: 20px;
}


/*
    Menú horizontal superior
 */

header+nav {
    display: table;
    width: 950px;
    margin: 0px auto;
}

header+nav>ul {
    display: table-row;
    height: 45px;
}

header+nav>ul>li {
    display: table-cell;
    text-align: center;
    border-bottom: 2px solid #ed701c;
}



header+nav li:hover {
    border-bottom: 2px solid #b54e09;
}



/*
    Triangulitos bajo borde del menú horizontal
 */

.triangulo {
    width: 900px;
}

.triangulo span {
    position: relative;
    top: -8px;
}

.triangulo span:before {
    content: "▼";
    font-size: 10px;
}

.triangulo span:nth-of-type(1) {
    margin-left: 80px;
}

.triangulo span:nth-of-type(2) {
    margin-left: 140px;
}

.triangulo span:nth-of-type(3) {
    margin-left: 205px;
}

.triangulo span:nth-of-type(4) {
    margin-left: 160px;
}

.triangulo span:nth-of-type(5) {
    margin-left: 100px;
}

/*
    Submenús del menú horizontal superior
 */
.modal{
    display:none;

}

.submenu:hover .modal{
    display:block;
    position: fixed;
    z-index: 10;
    width: 100px;
    height: 100px;
    padding: 10px;
    margin-top:10px;
    line-height: 25px;
    background-color: white;
    border: 1px solid grey;
    -webkit-box-shadow: -9px -8px 15px -4px rgba(0,0,0,0.64);
    -moz-box-shadow: -9px -8px 15px -4px rgba(0,0,0,0.64);
    box-shadow: -9px -8px 15px -4px rgba(0,0,0,0.64);
}

.submenu:first-child .modal{
    height: 80px;
    width: 130px;
}

ul>.submenu:nth-child(2) .modal{
    height: 55px;
    margin-left: 30px;
}

ul>.submenu:nth-child(3) .modal{
   margin-left:60px; 
}

ul>.submenu:nth-child(5) .modal{
    height: 50px;
}
/*
    Foto del cuerpo
 */

section:first-of-type {
    width: 950px;
    height: 350px;
    background-color: blue;
    margin: 20px auto;
    background-image: url(../imgs/cabinag.JPG);
    background-position: bottom;
    -webkit-box-shadow: 0px 12px 5px -4px rgba(23, 20, 23, 0.32);
    -moz-box-shadow: 0px 12px 5px -4px rgba(23, 20, 23, 0.32);
    box-shadow: 0px 12px 5px -4px rgba(23, 20, 23, 0.32);
}


/*
    Zona inferior
 */

section:last-of-type {
    min-height: 250px;
    background-image: url(../imgs/logo-footer.png);
    background-position: bottom right;
    background-repeat: no-repeat;
}


/*
    Menú vertical inferior
 */

section:last-of-type>nav {
    width: 200px;
    line-height: 30px;
    margin-left: 50px;
    padding-top: 20px;
}

section:last-of-type>nav a:before {
    content: "►";
    color: #ed701c;
    font-size: 10px;
    vertical-align: middle;
    margin-right: 10px;
}



/*
    Enlaces
 */

a {
    text-decoration: none;
    color: #ed701c;
    font-size: 20px;
}