@import url(reset.css);

html{
	background-color: lightblue;
}

.contenedor {
    width: 1000px;
    margin: 20px auto;
    background-color: white;
    height: 900px;
}


/*
	Mapa superior
 */

.contenedor>div:first-child {
    text-align: center;
}


/*
	Galería de Fotos
 */

.galeria {
    display: table;
    margin: 0px auto;
    border-collapse: separate;
    border-spacing: 25px;
}

.galeria>div {
    display: table-row;
    height: 200px;
}

.galeria>div>div {
    display: table-cell;
    width: 400px;
    background-size: cover;
}


/*
	Enlace para volver a página inicial
 */

h2 {
    text-align: center;
}

h2 a {
    text-decoration: none;
    color: black;
}