/* Clase del h1 para darle tamaño y margen interno */
.titulo {
	font-size: 20px;
	padding: 20px;
}
/* contenedor de imagen: centra foto */
#mapa {
	text-align: center;
}
img {
	width: 600px;
}
.comunidades {
	margin-left: 100px;
}
