@import url(reset.css);

.contenedor{
	width: 1000px;
	min-height: 700px;
	font-family: sans-serif;
	background-color: #4a6db1;
	margin: 0px auto;
	padding-top: 250px;
	border-top: 2px solid grey;
	border-left:2px solid grey;
}

section,
section>div{
	height: 400px;
}

section>div{
	float:left;
	width: 50%;
	background-color: white;
}
section>div:first-child{
	background-image: url("../imgs/bebeSuavinex.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: bottom;
}

section>div:last-child header,
section>div:last-child nav{
	padding: 30px;
}

section>div:last-child header figure,
section>div:last-child header h1{
	float: left;
	height: 30px;
}

section>div:last-child header>h1{
	width: 150px;
	color:#4a6db1;
	line-height: 30px;
	font-weight: bold;
	margin-left: 10px;
	font-family: 'Orbitron', sans-serif;
}

section>div:last-child header figure{
	width: 125px;
    background-image: url(../imgs/logoSuavinex.png);
    background-size: contain;
    background-repeat: no-repeat;
}



section>div:last-child nav li{
	list-style: none;
	margin-top: 12px;
}

section>div:last-child nav a{
	text-decoration: none;
	color: grey;
	font-size:12px;

}

footer{
	color: rgba(255,255,255,0.7);
	font-size: 14px;
	padding: 10px;
	margin-left: 520px;
	font-family: 'Aldrich', sans-serif;
}