@import url(reset.css);

.contenedor{
	width: 600px;
	margin: 20px auto;
	font-family: Georgia, Century, Perpetua;
	color:#212171;
	font-weight: bold;
}

header,
header h1,
header h2{
	height: 90px;
	line-height: 90px;
}

header,
section{
	width:700px;
}

header h1,
header h2{
	float: left;
}

header h1{
	width: 240px;
	color: grey;
	font-size: 90px;
}

header h2{
	width: 339px;
	border-left: 2px solid #212171;
	font-size: 40px;
	line-height: 110px;
	padding-left: 20px;
}

/*
	Calendario
 */
section{
	display: table;
	border-collapse: collapse;
	margin-top: 20px;
}

section>div{
	display:table-row;
	height: 75px;
}

section>div>div{
	display: table-cell;
	border:1px solid grey;
	width: 75px;
	background-color: white;
	text-align: center;
	vertical-align: middle;
	font-size: 40px;
}

section>div:first-child>div{
	background-color: lightblue;
	color:grey;
	font-weight: normal;
}

/*
	:hover
 */
section>div>div:hover{
	background-image: url("../imgs/marcador.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: top;
}

section>div:first-child>div:hover{
	background-image: none;
}

section>div>div:hover + div{
	color:darkgreen;
}

/*
	Festivo septiembre
 */
section>div:nth-child(4)>div:nth-child(5){
	color:red;
}