@import url(reset.css);

.contenedor{
	width: 1000px;
	margin: 20px auto;
	font-family: sans-serif;
}

header p{
	width: 540px;
	margin: 20px auto;
	color: darkblue;
	font-size: 20px;
	word-spacing: 0.2em;
	letter-spacing: 0.1em;
}

/*
	Productos
 */

/* Características generales de las cajas */
section>div{
	height: 150px;
	border-radius: 10px;
	background-color:#c6d8de;
	margin-bottom: 20px;
	border:2px solid #a5c2cc;
}

section>div>div{
	float: left;
	height: 150px;
}

/* Imagen producto */
section>div>div:nth-child(1){
	width: 150px;
}

section>div>div:nth-child(1)>figure{
	width: 120px;
	height: 120px;
	margin:15px auto;
	background-color: white;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}

/* Descripción de producto */
section>div>div:nth-child(2){
	width: 650px;
}

section>div>div:nth-child(2)>h3,
section>div>div:nth-child(2) a{
	color:#089cce;
	font-weight: bold;
}

section>div>div:nth-child(2)>h3{
	font-size: 20px;
	line-height: 20px;
	padding: 10px;
	word-spacing: 0.5em;
}

section>div>div:nth-child(2)>p{
	width: 625px;
	margin:10px auto;
	color: grey;
	line-height: 22px;
	text-align: justify;
}

a{
	text-decoration: none;
}

/* Precio y botón de compra */
section>div>div:nth-child(3){
	width: 195px;
}

section>div>div:nth-child(3)>div{
	width: 140px;
	margin:15px auto;
}

section>div>div:nth-child(3)>div>h2{
	font-weight: bold;
	font-size: 20px;
	color: #565050;
}

section>div>div:nth-child(3)>div>h2>span{
	color: red;
	font-size: 24px;
	margin-left: 5px;
}

section>div>div:nth-child(3)>div>p{
	text-align: center;
	line-height: 30px;
	color: #565050;
	font-size: 14px;
}

section>div>div:nth-child(3)>div:last-child{
	width: 95%;
    height: 60px;
	background-image: url("../imgs/boton.png");
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	cursor: pointer;
}



/* Caja superior */
section>div:first-child>div>figure{
	background-image: url("../imgs/chupeteRosa.jpg");
}

/* Caja inferior */
section>div:last-child>div>figure{
	background-image: url("../imgs/chupeteAzul.jpg");
}