@import url(reset.css);

.contenedor{
	width: 1000px;
	min-height: 700px;
	margin:0px auto;
	background-color: #6897f3;
	font-family: sans-serif;
	line-height: 25px;
	text-align: justify;
}

/*
	Página a 3 columnas
 */
.contenedor>div{
	float:left;
	min-height: 700px;
}

.contenedor>div:nth-child(odd){
	width: 150px;
}

.contenedor>div:nth-child(2){
	width: 640px;
	padding:30px;
	background: linear-gradient(to right, white 75%, #7aa3f3);
}

.contenedor>div:nth-child(2) p{
	width: 80%;
    margin-top: 20px;
    font-size: 14px;
    font-family: monospace;
}

.limpiar{
	clear: both;
}