@import url(reset.css);
html,
body{
	height: 100%;
	background-color: #668497;
	background-image: url(../imgs/pgbk.gif);
	background-repeat: repeat-x;
}

.contenedor {
    width: 1000px;
    margin: 20px auto;
}

header{
	background-image: url(../imgs/headerbg.gif);
	background-size: cover;
	text-align: center;
}

header
{
	height: 470px;
}

header>div{
	width: 980px;
    height: 470px;
    margin: 0px auto;
    background-image: url(../imgs/key_visual1.jpg);
    background-position: 1px 23px;
    background-size: contain;
    background-repeat: no-repeat;
	
}

nav{
	display: table;
    position: relative;
    top: -99px;
    left: 11px;
    font-size: 20px;
}

nav>ul{ 
	display: table-row;
	height: 50px;
 }

 nav>ul>li{
 	display: table-cell;
    text-align: center;
    vertical-align: middle;
    width: 152px;
    background-color: #F3F0F0;
 }

nav>ul>li>a{
	display: block;
	text-decoration: none;
	color:red;
	line-height: 50px;
}

nav a:hover{
	background-color: #c2bebe;
}

section,
footer{
	padding:35px;
}

section{
	min-height: 500px;
	background-image: url(../imgs/contentbg.gif);
	background-size: contain;
}

p{
	color:white;
}

footer{
	background-image: url(../imgs/contentbg.gif);
	background-size: contain;
	text-align: center;
}

