@import url(reset.css);

.contenedor {
    width: 600px;
    margin: 20px auto;
    font-family: sans-serif;
}


/*
	Columnas generales como tablas
 */

.contenedor>div {
    float: left;
    display: table;
    margin-left: 50px;
}


/*
	Cada columna con 3 filas
 */

.contenedor>div>div {
    display: table-row;
}


/*
	Cada fila con una sóla celda
 */

.contenedor>div>div>div {
    display: table-cell;
    width: 250px;
    border-top: 2px solid grey;
}

h2 {
    font-size: 30px;
    padding-top: 5px;
}

ul {
    list-style: square;
    font-size: 12px;
    padding: 15px;
    padding-left: 30px;
}

p {
    font-size: 13px;
    padding-left: 15px;
}

p,
ul{
	  line-height: 18px;
}

/*
	Separación inferior del párrafo inferior
 */

p+p {
    padding-bottom: 20px;
}


img {
    width: 100px;
    padding-bottom: 20px;
}



/*
	Celda superior (foto) columna general derecha
 */

.contenedor>div:last-child>div:first-child>div {
    border-top: none;
    text-align: center;
}